apiVersion: cert-manager.io/v1
kind: ClusterIssuer
metadata:
  name: letsencrypt-staging
  namespace: cert-manager
spec:
  acme:
    # Let's Encrypt ACME staging server
    server: https://acme-staging-v02.api.letsencrypt.org/directory
    
    # Email for certificate expiry notifications
    email: your-email@example.com
    
    # Secret to store the ACME account private key
    privateKeySecretRef:
      name: letsencrypt-staging-key
    
    # Enable HTTP-01 challenge provider
    solvers:
      - http01:
          ingress:
            class: traefik
